{{ $item := .item }} {{ $link := $item.RelPermalink }}

<div class="card-simple custom-card-1">
  {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }} {{
  if not $resource }} {{ $resource = ($item.Resources.ByType "image") | first }}
  {{ end }} {{ with $resource }}
  <div class="card-image">
    <a href="{{ $link }}">
      <img src="{{ .RelPermalink }}" alt="{{ $item.Title }}" loading="lazy" />
    </a>
  </div>
  {{ else }}
  <div class="card-image card-no-image">
    <a href="{{ $link }}">
      <div class="placeholder">📷</div>
    </a>
  </div>
  {{ end }}

  <div class="card-content">
    <h3>
      <a href="{{ $link }}">{{ $item.Title }}</a>
    </h3>

    {{ with $item.Params.summary }}
    <p class="card-text">{{ . }}</p>
    {{ end }} {{ with $item.Date }}
    <div class="card-date">{{ .Format "2006-01-02" }}</div>
    {{ end }}
  </div>
</div>
